* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  header{
    text-align: center;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #2e3c3d;
    padding: 20px;
   
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJslyZI2jsQIBKeeibr100pKT__4gPHn2BSg&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    margin-bottom: 30px;
    font-size: 32px;
    
  }
  
 
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
 